@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}


::-webkit-scrollbar {
  width: 0.8em;
  background: transparent; 
}
::-webkit-scrollbar-track {
  background: transparent; 
  background-color: rgba(0, 0, 0, 0.712);
}
::-webkit-scrollbar-thumb {
  opacity: 0.2;

  background: rgba(0, 223, 154, 1);
}
::-webkit-scrollbar-thumb {
  opacity: 0.2;
  background: rgba(0, 223, 154, 0.8); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
  background: rgba(0, 223, 154, 0.4); 
  border-radius: 10px;
}